@import "bootstrap/bootstrap.less";
@import "theme-variables";

//
// General elements
// --------------------------------------------------
body {
  padding-top: 50px;
}

footer {
  p {
    border-top: 1px solid @gray-lighter;
    padding-top: @line-height-computed;
    margin-top: @line-height-computed;
    margin-bottom: 0;
  }
}

.page-title {
  &:extend(.h3);
  border-bottom: 1px solid @gray-lighter;
  padding-bottom: @line-height-computed;
  margin-bottom: @line-height-computed;
}


//
// Forms
// --------------------------------------------------
.form {
  .alert {
    display: none;
  }
  .form-control {
    height: @input-height-base;
    border-radius: @border-radius-base;
  }
  label {
    font-weight: normal;
  }
}

//
// Alerts
// --------------------------------------------------
.alert {
  ol {
    padding: 0;
    margin: 0;
    list-style: inside;
    list-style-type: decimal;
  }
}
